body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: rgb(54, 54, 54);
}

header{
    display: flex;
    justify-content: space-between;
}

header img{
    width: 1.5rem;
    margin-left: 5rem;
}

nav{
    display: flex;
    gap: 2rem;
    margin-right: 7rem;
}

nav p:hover{
    cursor: pointer;
    color:rgb(253, 105, 36)
}

nav :first-child{
    font-weight: 500;
}

.section_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./../img/first-background.jpg);
    color: white;
    min-height: 45rem;
}

.section_1 :first-child{
    font-size: 5rem;
    font-weight: 100;
    padding: 1rem;
}

.section_1 :nth-child(2){
    font-size: 3rem;
    font-weight: 100;
}

.section_1 button{
    background-color: rgb(253, 105, 36);
    padding: 1rem;
    border-radius: 0.3rem;
    margin-top: 4rem;
}

.section_2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section_2 img{
    width: 10rem;
}

.global_lable{
    font-size: 4rem;
    margin: 8rem 0 5rem;
    font-weight: 100;
}

.cell_group{
    display: flex;
    gap: 13rem;
    font-size: 1.7rem;
    margin-bottom: 5rem;
}

.cell{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1081px){
    .cell_group{
        flex-direction: column;
    }
    header img{
        margin: 0;
    }
}

hr{
    max-width: 80%;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 5rem;
    gap: 1rem;
}

.footer_img{
    max-width: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1.2rem;
    padding: 0.5rem;
}

footer div{
    display: flex;
    gap: 1rem;
}






